@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%
}

@layer base {
  :root {
    --background: 240 45% 4%;
    --foreground: 0 0% 98%;
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 9%;
    --secondary: 240 9% 18%;
    --secondary-foreground: 0 0% 98%;
    --tertiary: 240 31% 6%;
    --tertiary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 240 9% 18%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/*
 |--------------------------------------------------------------------
 | Removing clerk ads
 |--------------------------------------------------------------------
 | Clerk authentication tool.
 |
 | removing some ads from sign-in and sign-up page.
 **/
.cl-internal-1dauvpw {
  display: none;
}

.cl-footer, .cl-card {
  background: none;
}

.cl-cardBox {
  box-shadow: none;
}
